nav {
    height: 150px;
    display: flex;
    flex: row wrap;
    justify-content: space-around;
}

#center-search-bar {
    display: flex;
    flex: row wrap;
}



#search-button {
    border: 1px solid #CCCCCC;
    border-radius: 0 3px 3px 0;
    height: 32px;
    width: 65px;
    background-color: #F0F0F0;
}

#search {
    border: 1px solid #CCCCCC;
    border-radius: 3px 0 0 3px;
    height: 30px;
    width: 573px;
}

#search:focus {
    border: 1px solid blue;
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.2); 
}
